* {
    margin: 0;
    padding: 0;
}

/* personalização do header */
header {
    width: auto;
    background-color: #2a2c31;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

header h1 {
    color: white;
}


header img {
    width: 100px;
}



/* personalização das sections */

.tabela {
    background-color: #948c75;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}


section div button a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: none;
    padding: 7px
}
.section-01 {
    background-color: #948c75;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div-sessoes p {
    font-size: 50px;
}

.section-01 img {
    width: 250px;
}

.section-01 button {
    padding: 7px;
    width: 125px;
    height: auto;
    border: none;
}

.section-01 a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}


.section-02 {
    background-color: #5a2e2e;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse
}

.section-02 img {
    width: 400px;
}

.section-02 button {
    padding: 7px;
    width: 125px;
    height: auto;
    border: none;

}

.section-02 p {
    font-size: 50px;
}


.section-02 a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}


.section-03 {
    background-color: #dfba69;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-03 img {
    width: 400px;
}


.section-03 button {
    padding: 7px;
    height: auto;
    width: 125px;
    border: none;
}

.section-03 p {
    font-size: 50px;
}


.section-03 a {
    text-decoration: none;
    color: black;
    font-weight: 700px;
}

.section-04 {
    background-color: #dfba69;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-04 div h2 {
    font-size: 50px;
}


.section-04 img {
    width: 100px;
}




/* iframe */
.iframe {
    background-color: #fffedf;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.iframe h3 {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 50px;
}




/* personalização do footer */
footer {
    background-color: #2a2c31;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

footer h3 {
    color: white;
}

footer img {
    width: 100px;
}