* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #948c75;
}

.form h1 {
    font-family: 'Times New Roman', Times, serif;
}

.form {

    padding: 10px;

}

.caixa {
    width: 350px;
    height: auto;
    background-color: #948c75;
    padding: 20px;
    margin-top: 100px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

}